<h1>My first Angular pro</h1>



<div class="result"></div>
<div class="calcContainer">
  <div id="buttonContainer">
    <button class="numbers">AC</button>
    <button class="numbers">%</button>
    <button class="numbers">Del</button>
    <button class="numbers">/</button>
  </div>
  <div id="buttonContainer">
    <button class="numbers">7</button>
    <button class="numbers">8</button>
    <button class="numbers">9</button>
    <button class="numbers">*</button>
  </div>
  <div id="buttonContainer">
    <button class="numbers">4</button>
    <button class="numbers">5</button>
    <button class="numbers">6</button>
    <button class="numbers">-</button>
  </div>
  <div id="buttonContainer">
    <button class="numbers">1</button>
    <button class="numbers">2</button>
    <button class="numbers">3</button>
    <button class="numbers">+</button>
  </div>
  <div id="buttonContainer">
    <button class="numbers">00</button>
    <button class="numbers">0</button>
    <button class="numbers">.</button>
    <button class="numbers">=</button>
  </div>
</div>
